.card-title-primary {
  font-size: 3rem;
  font-weight: bold;
  color: #3f51b5;
}

.mat-card-active {
  background-color: #f5f5f5;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
}

.card-container {
  display: flex;
  justify-content: space-around;
  gap: 2rem;

  mat-card {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 20%;
    border-radius: 20px;
    padding: 1rem;
    cursor: pointer;

    &:hover {
      box-shadow:
        0 1px 1px hsl(0deg 0% 0% / 0.075),
        0 2px 2px hsl(0deg 0% 0% / 0.075),
        0 4px 4px hsl(0deg 0% 0% / 0.075),
        0 8px 8px hsl(0deg 0% 0% / 0.075),
        0 16px 16px hsl(0deg 0% 0% / 0.075);
      transition: all 0.5s;
    }
  }
}

#main-container {
  box-shadow:
    0 1px 1px hsl(0deg 0% 0% / 0.075),
    0 2px 2px hsl(0deg 0% 0% / 0.075),
    0 4px 4px hsl(0deg 0% 0% / 0.075),
    0 8px 8px hsl(0deg 0% 0% / 0.075),
    0 16px 16px hsl(0deg 0% 0% / 0.075);


  mat-card-header {
    border-bottom: 1px solid #e6e6e6;
    padding: 1rem;
  }

  mat-card-content {
    height: 60vh;
    overflow: auto;


    .list-title {
      font-weight: bold;
    }
  }
}