<mat-toolbar>
  <span class="mr-1">Virtual Choreography Interpreter</span>

  <button mat-button routerLink="recipe">Recipe</button>
  <button mat-button routerLink="log-statements">Log Statements</button>
  <button mat-button routerLink="choreographies">Choreographies</button>

  <span class="example-spacer"></span>
  <button mat-icon-button aria-label="Upload a source file">
    <mat-icon>upload</mat-icon>
  </button>
</mat-toolbar>

<div class="container">
  <router-outlet></router-outlet>
</div>
