<mat-toolbar>
  <span class="mr-1">Virtual Choreography Interpreter</span>

  <button mat-button routerLink="recipe">Recipe</button>
  <button mat-button routerLink="log-statements">Log Statements</button>
  <button mat-button routerLink="choreographies">Choreographies</button>

  <span class="example-spacer"></span>
  <button
    (click)="uploadFile()"
    mat-icon-button
    aria-label="Upload a source file"
  >
    <mat-icon>upload</mat-icon>
  </button>
  <input id="file-upload" type="file" (change)="onFileUpload($event)" />
</mat-toolbar>

<div class="container">
  <mat-spinner *ngIf="isLoading; else routerOutlet"></mat-spinner>

  <ng-template #routerOutlet>
    <router-outlet></router-outlet>
  </ng-template>
</div>
