<h1>Dashboard</h1>

<div class="container">
  <div class="side-by-side-row">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Recipe statistics</mat-card-title>
        <mat-card-subtitle>
          This bar chart compares the numbers of actors, verbs, objects, and
          places of the xAPI recipe context.
        </mat-card-subtitle>
      </mat-card-header>

      <mat-card-content>
        <mat-spinner
          *ngIf="!recipeStatisticsOptions; else canvas1"
          class="text-center"
        ></mat-spinner>
        <ng-template #canvas1>
          <div echarts [options]="recipeStatisticsOptions!"></div>
        </ng-template>
      </mat-card-content>
    </mat-card>

    <mat-card>
      <mat-card-header>
        <mat-card-title>EaD Choreographies Type</mat-card-title>
        <mat-card-subtitle>
          This chart represent the choreographies distribution, from the source
          provided.
        </mat-card-subtitle>
      </mat-card-header>

      <mat-card-content>
        <mat-spinner
          *ngIf="!choreographiesStatisticsOptions; else canvas2"
          class="text-center"
        ></mat-spinner>
        <ng-template #canvas2>
          <div echarts [options]="choreographiesStatisticsOptions!"></div>
        </ng-template>
      </mat-card-content>
    </mat-card>
  </div>

  <mat-card>
    <mat-card-header>
      <mat-card-title>Choreographies Distribution in Time</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <mat-spinner
        *ngIf="!choreographiesDistributionInTimeOptions; else canvas3"
        class="text-center"
      ></mat-spinner>
      <ng-template #canvas3>
        <div echarts [options]="choreographiesDistributionInTimeOptions!"></div>
      </ng-template>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-header>
      <mat-card-title>Recipe Connections Graph</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <mat-spinner
        *ngIf="!recipeGraphOptions; else canvas4"
        class="text-center"
      ></mat-spinner>
      <ng-template #canvas4>
        <div echarts [options]="recipeGraphOptions!" class="chart-xl"></div>
      </ng-template>
    </mat-card-content>
  </mat-card>
</div>
